@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --whiteTransparent: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);
}
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  height: auto;
  color: var(--veryLightGray);
}
/* background colors */
.suvs {
  background-color: var(--darkCyan);
}
.sedans {
  background-color: var(--brightOrange);
}
.luxury {
  background-color: var(--veryDarkCyan);
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 100px;
  }
  .column {
    float: left;
    width: 24%;
  }
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    padding: 40px;
  }
  .column h1 {
    text-transform: uppercase;
    font-family: "Big Shoulders Display", cursive;
    font-size: 2.3rem;
    padding-top: 20px;
  }
  .column p {
    font-size: 0.9rem;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 10px;
    line-height: 1.7;
    color: var(--whiteTransparent);
  }
  button {
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: var(--veryLightGray);
    padding: 15px 30px;
  }
  .sedans {
    background-color: var(--brightOrange);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .luxury {
    background-color: var(--veryDarkCyan);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  img {
    width: 25%;
  }
  .btn-luxury,
  .btn-sedans,
  .btn-suvs {
    font-weight: 700;
  }
  .btn-sedans {
    color: var(--brightOrange);
  }
  .btn-suvs {
    color: var(--darkCyan);
  }
  .btn-luxury {
    color: var(--veryDarkCyan);
  }
}

/* mobile view */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .row {
    margin: 60px 30px 60px 30px;
  }
  .column {
    width: 100%;
  }
  .sedans {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .luxury {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
